<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test_Model2_ManagementSystem</display-name>
  
<!--   서블릿설정 URL매핑  -->
  <servlet>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>com.skplanet.controller.JoinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.skplanet.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IdCheckServlet</servlet-name>
    <servlet-class>com.skplanet.controller.IdCheckServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdCheckServlet</servlet-name>
    <url-pattern>/idCheck.do</url-pattern>
  </servlet-mapping>
  
  <!-- DBCP설정  -->
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/test</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- 세션 timeout설정 -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <!-- log4j설정  -->
  <context-param>
  	<param-name>log4jConfiguration</param-name>
  	<param-value>/WEB-INF/log4j.properties</param-value> 
  	<!-- 실제파일은 /WEB-INF/classes/log4j.properties에위치 -->  
  </context-param>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>